<section class="f-7">
    <div class="container">
        <div class="row">
            <div class="f-7__copy-wrap">
                <h2>This is Feature f-7</h2>
                <p class="f-7__lead">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
            </div>
        </div>
        <div class="row">
            <div class="f-7__cols">
                <div class="row">
                    <div class="f-7__icon-col">
                        <i class="f-7__icon fa fa-cloud"></i>
                    </div>
                    <div class="f-7__copy-col">
                        <h5>Get off to a quick start</h5>
                        <p class="f-7__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
                    </div>
                </div>
            </div>
            <div class="f-7__cols">
                <div class="row">
                    <div class="f-7__icon-col">
                        <i class="f-7__icon fa fa-cloud"></i>
                    </div>
                    <div class="f-7__copy-col">
                        <h5>Get off to a quick start</h5>
                        <p class="f-7__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="f-7__cols">
                <div class="row">
                    <div class="f-7__icon-col">
                        <i class="f-7__icon fa fa-cloud"></i>
                    </div>
                    <div class="f-7__copy-col">
                        <h5>Get off to a quick start</h5>
                        <p class="f-7__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
                    </div>
                </div>
            </div>
            <div class="f-7__cols">
                <div class="row">
                    <div class="f-7__icon-col">
                        <i class="f-7__icon fa fa-cloud"></i>
                    </div>
                    <div class="f-7__copy-col">
                        <h5>Get off to a quick start</h5>
                        <p class="f-7__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
