{% set img = TimberImage( theme.link ~ '/assets/img/iphone-white.png') %}

<section class="f-13">
    <div class="container">
        <div class="row row--center">
            <div class="f-13__copy-wrap">
                <h2>This is Feature f-13</h2>
                <p class="f-13__lead">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
                <ol class="f-13__items">
                    <li class="f-13__item">
                        <h5>Get off to a quick start</h5>
                        <p class="f-13__description">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
                    </li>
                    <li class="f-13__item">
                        <h5>Get off to a quick start</h5>
                        <p class="f-13__description">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
                    </li>
                </ol>
            </div>
            <div class="f-13__img-wrap">
                <img class="f-13__img" src="{{img.src}}"/>
            </div>
        </div>
    </div>
</section>
