<section class="f-2">
    <div class="container">
        <div class="row">
            <div class="f-2__copy-wrap">
                <h2>This is Feature f-2</h2>
                <p class="f-2__lead">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
            </div>
        </div>
        <div class="row">
            <div class="f-2__copy-col">
                <h5>Get off to a quick start</h5>
                <p class="f-2__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
            <div class="f-2__copy-col">
                <h5>Get off to a quick start</h5>
                <p class="f-2__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
            <div class="f-2__copy-col">
                <h5>Get off to a quick start</h5>
                <p class="f-2__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
        </div>
    </div>
</section>
