<section class="f-11">
    <div class="container">
        <div class="row row--justify">
            <div class="f-11__copy-col">
                <i class="f-11__icon fa fa-cloud"></i>
                <h5>Get off to a quick start</h5>
                <p class="f-11__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
            <div class="f-11__copy-col">
                <i class="f-11__icon fa fa-cloud"></i>
                <h5>Get off to a quick start</h5>
                <p class="f-11__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
        </div>
    </div>
</section>
