{% include "menu.twig" with {'menu': menu.get_items} %}
<section class="h-5">
    <div class="h-5__overlay"></div>
    <div class="container h-5__container">
        <div class="row">
            <div class="h-5__content">
                <h1 class="h-5__title">Design faster with H-5</h1>
                <p class="h-5__lead">Start your design projects in the right way. This is the idea behind Base UI. We built it to help you create a beautiful website for the story you want to tell. 
Get things done faster. And better.</p>
                <a href="" class="h-5__button">Learn More</a>
            </div>
            <div class="h-5__icon-wrap">
                <i class="h-5__icon"></i>
            </div>
        </div>
        <div class="row h-5__sub-line">
            {# <hr class="h-5__hr"/> #}

            <div class="h-5__copy-col">
                <h5 class="h-5__heading">Get off to a quick start</h5>
                <p class="h-5__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
            <div class="h-5__copy-col">
                <h5 class="h-5__heading">Get off to a quick start</h5>
                <p class="h-5__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
            <div class="h-5__copy-col">
                <h5 class="h-5__heading">Get off to a quick start</h5>
                <p class="h-5__description">Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.</p>
            </div>
        </div>
    </div>
</section>
