{% include "menu.twig" with {'menu': menu.get_items} %}
<section class="h-6">
    <div class="container h-6__container">
        <div class="row">
            <div class="h-6__content">
                <span class="h-6__sub-title">Las Vegas: How To Have Non-Gambling Related Fun</span>
                <h1 class="h-6__title">Las Vegas: How To Have Non-Gambling Related Fun</h1>
                <p class="h-6__lead">There is a lot of exciting stuff going on in the stars above us that makes astronomy so much fun. 
The truth is that the universe is constantly changing, moving. Some would say it’s a living thing 
because you never know what you are going to see on any given night of stargazing.</p>
                <a href="" class="h-6__button">Learn More</a>
            </div>
            <div class="h-6__icon-wrap">
                <i class="h-6__icon"></i>
            </div>
        </div>
    </div>
</section>
