<section class="c-6">
    <div class="container">
        <div class="c-6__row">
            <div class="c-6__copy-wrap">
                <h2>This is Component C-6</h2>
                <p>At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. </p>
            </div>
            <div class="c-6__video-wrap">
                <div class="c-6__video">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/Gf_rY7COEuw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
