<section class="c-16">
    <div class="container">
        <div class="row">
            <div class="c-16__copy-col">
                <h2 class="c-16__heading">550</h2>
                <h5 class="c-16__sub-heading">Clients</h5>
                <p class="c-16__description">Designing with Base UI is a smooth experience all around.</p>
            </div>
            <div class="c-16__copy-col">
                <h2 class="c-16__heading">850</h2>
                <h5 class="c-16__sub-heading">Products</h5>
                <p class="c-16__description">Designing with Base UI is a smooth experience all around.</p>
            </div>
            <div class="c-16__copy-col">
                <h2 class="c-16__heading">90K</h2>
                <h5 class="c-16__sub-heading">Sales</h5>
                <p class="c-16__description">Designing with Base UI is a smooth experience all around.</p>
            </div>
            <div class="c-16__copy-col">
                <h2 class="c-16__heading">20</h2>
                <h5 class="c-16__sub-heading">Offices</h5>
                <p class="c-16__description">Designing with Base UI is a smooth experience all around.</p>
            </div>
        </div>
    </div>
</section>
