.c-24{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    background:url('../../assets/img/c-24-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}

.c-24__title{
    @include make-col-ready();
    @include make-col(8);
    text-align:center;
    margin:0 auto;
    margin-bottom:$spacer*3;
}

.c-24__copy-wrap{
    @include make-col-ready();
    @include make-col(10);
    column-count: 2;
    column-gap: $grid-gutter-width;
    margin:0 auto;
}