.c-2{
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
}

.c-2__row{
    @include make-row();
}

.c-2__img-wrap{
    @include make-col-offset(1);
    @include make-col(6);
}

.c-2__img{
    width:100%;
}

.c-2__copy-wrap{
    @include make-col-ready();
    @include make-col(5);
    position:relative;
    align-self: center;
    z-index:1;

    &:before{
        content:'01';
        position:absolute;
        z-index:-1;
        top:-7rem;
        font-size:$font-size-base*10;
        font-weight: $font-weight-bold;
        color:rgba(theme-color("dark"), .05);
    }
}