.f-9{
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
}

.f-9__lead{
    font-size:$lead-font-size;
}

.f-9__copy-wrap{
    @include make-col(6);
    margin:0 auto;
    text-align:center;
    margin-bottom:$spacer*2;
}

.f-9__copy-title {
    margin-top: $spacer*5;
}

.f-9__description{
    font-size:$font-size-sm;
    margin-bottom: $spacer*5;
}

.f-9__copy-col{
    @include make-col-ready();
    @include make-col(3);
    text-align:center;
    margin-bottom: $spacer*4;
}

.f-9__icon {
    color: theme-color('primary');
    font-size: $font-size-base * 3;
    padding-bottom:$spacer*2;
}

.f-9__img-wrap{
    @include make-col-ready();
    @include make-col(6);
    position:relative;
}

.f-9__img{
    display: block;
    margin: 0 auto;
}