.f-12{
    padding-top: $spacer * 10;
}

.f-12__img-wrap{
    @include make-col-ready();
    @include make-col(8);
    margin:0 auto;
    position:relative;
}

.f-12__img{
    width:100%;
}

.f-12__description{
    font-size:$font-size-sm;
}

.f-12__copy-col{
    @include make-col-ready();
    @include make-col(4);
    margin-bottom:$spacer*6;
}